* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.header {
  display: flex;
  width: 1280px;
  margin: auto;
  background: gray;
  height: 86px;
}

.nav {
  display: flex;
}

.nav > li {
  margin-left: 100px;
}
